@charset "EUC-KR";

/* body css */
body{
	font-family: 'Nanum Gothic', sans-serif;
}
.mainBox {
		display: flex;
		align-items: center;
		justify-content: center;
 	}


.contentBox{
		text-align: center;
		display: inline-block;
		width: 978px; 
		background-color: #fff;
		margin-top: 50px;
}


/* textfield CSS*/
input[type=text] {	
	padding: 3px;
 	margin: 3px;
}

input[type=password] {	
	padding: 3px;
 	margin: 3px;
}



input[type=text]:focus {
  background-color: #ace2f9;
}

input[type=password]:focus {
  background-color: #ace2f9;
}

/* input[type=file] {
  background-color: #ace2f9;
}*/




/* table CSS */

table.table {
  width:600px;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  font-size:14px;
  /* border: 1px solid #ccc; */
  border-top: 1px solid #ccc;
  margin-left: auto; margin-right: auto;
}
table.table th {
	width:100px;
  padding: 10px;
  text-align:right;
  /* vertical-align: top; */
 /* border: 1px solid #ccc;*/
  background: #fbedaa;
  border-bottom: 1px solid #ccc;
}
table.table td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
} 


/* 가입하기 테이블 CSS */
table.table2 {
  width:600px;
  border-collapse: collapse;
  text-align: left;
  line-height: 3;
  font-size:14px;
  /* border: 1px solid #ccc; */
  margin-left: auto; margin-right: auto;
}


/* 확인 버튼 CSS */
.btnChk {
	margin: 9px;
	width:120px;
}

.btnChk {
  /*padding: 4px 4px;  */
  font-size: 12px;
  background-color: #ace2f9;
 /* width: 150px;
  height: 10 px;*/
}

.btnChk {
	color: white;	
	padding: 5px 15px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	/*box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
				      0 2px 0 -1px rgba(0,0,0,0.13), 
				      0 3px 0 -1px rgba(0,0,0,0.08), 
				      0 3px 3px -1px rgba(0,0,0,0.21);*/
}
.btnChk:active {
	top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	/*box-shadow: 0 5px 0 rgba(255,255,255,0.89),0 5px rgba(0,0,0,0.05) inset;*/
	position: relative;
}


/* 가입하기 버튼 CSS */
.button{
  background:#ace2f9;
  color:#fff;
  border: 2px #ace2f9;
  position:relative;
  width:250px;
  height:40px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button:hover{
  background:#fff;
  color:#ace2f9;
  border: 2px #ace2f9;
}
.button:before, .button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ace2f9;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before, .button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.button:active{
	background: #a6cfff;
}

.a {
	color:gray;
	font-size: 12px;
}

.aBirth {
	font-size: 14px;
}